@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  font-family: "Raleway", sans-serif;
  background-color: #ebebe0;
}

::-webkit-scrollbar {
  display: none;
}
.student-modal {
  width: 60%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  overflow-y: scroll;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 2px #888888;
  padding-top: 20px;
}
.search-input {
  margin: 10px;
  width: 100%;
  height: 30px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #d3d3d3;
}

.search-input,
.search-input::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
.no-border {
  padding: 20px;
  height: 20px;
  outline: 0;
  margin: 0;
  border-width: 0 0 2px;
  border-color: #d3d3d3;
}

.no-border,
.no-border::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 3;
}
